/*dropdowns*/
.dropdown-menu {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  position: absolute;
  padding: 0;
  border: none;
}

.dropdown-menu {
  li {
    border-top: 1px solid #666666;
    overflow: hidden;
    &:first-child {
      border-top: 0;
      border-radius: 5px 5px 0 0;
    }
    &:last-child {
      border-radius: 0 0 5px 5px;
    }
    color: #fff;
    font-size: 13px;
    a {
      color: #fff;
      font-size: 13px;
      padding: 13px 0 13px 34px;
      width: 259px;
      text-transform: capitalize;
      &:before {
        font-size: 18px;
        left: -16px;
      }
    }
    .title {
      font-size: 13px;
    }
    .widgets-count {
      font-size: 11px;
    }
    .title {
      margin: 14px 0 10px;
      display: block;
    }
  }
  .other-desktop a {
    padding-left: 17px;
  }
    .dropdown.active > a {
      background: #1BA0E1;
      border-radius: 100px;
      color: #fff;
      display: block;
      padding: 0 15px;
      left: -15px;
      position: relative;
      width: 112%;
      margin-bottom: 3px;
      top: 0;
    }
  .dropdown-arr {
    border-bottom: 8px solid rgba(0, 0, 0, 0.8) !important;
    border-left: 8px solid rgba(0, 0, 0, 0);
    border-right: 8px solid rgba(0, 0, 0, 0);
    border-top: 0 none;
    height: 0;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    top: -7px;
    width: 0;
  }
}

.other-desktop {
  .title {
    padding-left: 17px;
  }
  .widgets-count {
    padding-left: 17px;
    margin-bottom: 13px;
    display: block;
  }
}

.dropdown-menu .other-desktop a {
  text-decoration: underline;
  padding-top: 0;
  padding-bottom: 0;
  &:hover {
    background: none;
    color: #fff;
    text-decoration: none;
  }
}

.bottom-nav .dropdown-menu {
  left: -102px;
  top: -158px;
}

.bottom-nav .dropdown-arr {
  border-left: 8px solid rgba(0, 0, 0, 0);
  border-right: 8px solid rgba(0, 0, 0, 0);
  border-top: 8px solid rgba(0, 0, 0, 0.8) !important;
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  top: 100%;
  width: 0;
}

.dropdown.active .dropdown-menu {
  display: block;
}