@import "reset.scss";
@import "buttons.scss";
@import "icons.scss";
@import "dropdown.scss";
@import "widgets.scss";
@import "sidebar.scss";
@import "media.scss";
@import "carousel.scss";

.page .container {
  max-width: 890px;
  margin: 0 auto 71px;
  padding: 0;
}

.page.full .container {
  max-width: 960px;
}

.page-title {
  line-height: 42px;
  font-size: 22px;
  color: #c7c7c7;
  background: #ededed;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main-desktop-controls {
  margin-bottom: 30px;
  & .edit-mode i {
    display: block;
    font-size: 16px;
  }
  .edit-nav {
    margin-bottom: 31px;
  }

  .add-widget {
    text-align: center;
    margin-bottom: 40px;
  }

  .edit-mode > a {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 3px;
    border-color: #989898;
  }

  .edit-mode {
    .dropdown-menu {
      left: -16px;
      top: 0;
    }
  }
}

.ajax-link {
  border-bottom: 1px dashed;
  &:hover {
    text-decoration: none;
  }
}

.gridster {
  margin-bottom: 53px;
  li {
    border-radius: 5px;
    position: relative;
    &.widget {
      background-position: 10px 10px;
    }
    a {
      display: block;
      overflow: hidden;
      position: relative;
      height: 100%;
      border-radius: 5px;
    }
    &:hover {
      border-color: #000;
      box-shadow: 0 1px 3px #000;
        a {
          border-color: #000;
          box-shadow: inset 0 0 3px 3px #000;
        }
        .picture-in {
            position: relative;
            display: inline-block;
          img {
            vertical-align: top;
          }
        }
        .picture-in:after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          box-shadow: 0 0 3px 3px #000 inset;
          content: "";
        }
      }
    }
  img {
    height: auto;
    position: relative;
    left: 0;
    top: 0;
  }
}

.main-desktop-title h3 {
  text-align: center;
  color: #17a488;
  font-size: 33px;
  margin: 6px 0 25px;
}

.bottom-nav, .edit-mode {
  position: relative;
}

.gridster {
  .icon-cancel-circled {
    display: none;
    z-index: 100;
  }
  li:hover {
    .icon-resize-full-alt, .icon-resize-full, .icon-cancel-circled {
      display: block;
    }
  }
}

.top-pannel {
  margin-top: 20px;
  line-height: 35px;
  text-transform: uppercase;
  b {
    color: #000;
    margin-left: 10px;
  }
  .btn, .username {
    text-transform: none;
  }
  .username {
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    width: 210px;
    padding-right: 20px;
    text-align: right;
  }
  .power-btn,  {
    float: right;
    margin-top: 5px;
  }
  .username {
    margin-top: 2px;
    float: right;
  }
}

.top-pannel .btn-available {
  font-size: 12px;
}

.attachments {
  background-color: #F6F6F6;
  border-radius: 20px;
  margin-bottom: 20px;
  li {
    display: inline-block;
    span {
      display: block;
      padding: 30px 0 20px 20px;
    }
  }
  a.control {
    margin-top: 0;
  }
  .attachment a {
    color:#0e84cf;
    display: block;
    font-size: 13px;
    margin-top: 10px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .control.attachment-add {
      display: block;
      height: 140px;
      width: 100px;
  }
  .attachment {
    width: 150px;
    position: relative;
    &:hover  {
      display: block;
      img {
        box-shadow: 0 0 3px #1fbd9e;
      }
    }
    img {
      box-shadow: 0 0 3px #e6e6e6;
    }
  }
  .attachment-delete {
    display: none;
    left: 107px;
    position: absolute;
    top: 17px;
  }
}

.attachments-controls a {
  margin-right: 16px;
}

.photo, .img-container {
  overflow: hidden;
}

.photo img, .img-container img { 
  width: 100%;
  height: auto;
}

.doc-info {
  li {
    position: relative;
    margin-bottom: 14px;
    width: 100%;
    float: left;
    line-height: 21px;
  }
  .title {
    font-size: 12px;
    width: 25%;
    position: absolute;
    line-height: 16px;
    top:0;
    color: #666;
    text-align: left;
    &.valign-mid {
      top: 50%;
      margin-top: -8px;
    }
  }
  .value {
    width: 75%;
    float: right;
    > a {
      color:#0e84cf;
    }
  }
  .photo {
    width: 32px;
    height: 32px;
    float: left;
    border: 1px solid #e6e6e6;
    margin-right: 18px;
  }
  .user {
    &:hover {
        text-decoration: none;
    }
    .name {
      color: #56b4ee;
      text-decoration: none;
      border-bottom:1px dashed #0e84cf;
      line-height: 28px;
    }
  }
  .pic i, .doc i, .xls i, .pdf i {
    background: url("../img/format-sprite.png") no-repeat;
    opacity: 0.4;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
  }
  .pic i {
    background-position: 0 3px;
  }
  .doc i {
    background-position: 0 -30px;
  }
  .xls i {
    background-position: 0 -63px;
  }
  .pdf i {
    background-position: 0 -96px;
  }
} 

.doc-format {
  margin-top: 30px;
}

.doc-format-list {
  padding-left: 4px;
  li {
    padding-left: 46px;
    position: relative;
    &:hover i {
      opacity: 1;
      filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    }
  }
}

.breadcrumb {
  background: none;
  padding: 0;
  a {
    color: #666666;
    text-decoration: underline;
  }
}

.view-main-doc {
  position: relative;
  padding-left: 15px;
  width: 340px;
  &:hover .zoom {
    display:block;
  }
  .icon-chat-empty {
    font-size: 20px;
    background: #56b4ef;
    padding: 10px;
    color: #fff;
    height: 48px;
    width: 48px;
    border-radius: 90px;
    position: absolute;
    right: -24px;
    top: 60px; 
    &:hover {
      text-decoration:none;
    }
  }
  .zoom {
    display: none;
    position: absolute;
    top: 50%;
    left:50%;
    width: 150px;
    height: 150px;
    margin: -75px  0 0 -65px;
    color: #fff;
    background: url("../img/lupa.png") no-repeat;
  }
}

/*tables*/
.default-table {
  width: 100%;
  thead > tr > th {
    height: 48px;
    vertical-align: middle;
    &.status {
      text-align: center;
    }
    a {
      text-decoration: none;
    }
  }
  td {
      height: 64px;
      vertical-align: middle;
      border-top: 1px solid #e0e0e0;
      color: #666666;
      &.type {
        color:#000;
        font-weight: bold;
        text-transform: uppercase;
      }
    a {
      color: #0e84cf;
      text-decoration: none;
    }
    &.status {
      text-align: center;
      .label {
        position: relative;
        min-width: 100px;
        display: inline-block;
        font-size: 12px;
        line-height: 20px;
        padding: 6px 10px;
        font-weight: normal;
        border-radius: 15px;
        &.label-success {
          background: #1BBC9B;
        }
        &.label-warning {
          background: #dcf2ec;
          color:#009969;
        }
        &.label-ready {
          background: #f2f2f2;
          color: #666666;
        }
        &:before {
          color: #999999;
          font-size: 18px;
          left: -39px;
          position: absolute;
          top: 4px;
        }
        .count {
          border-radius: 90px;
        }
      }
    }
  }
  .sortable {
    display: inline-block;
    line-height: 34px;
    color: #999999;
    font-weight: normal;
    &.current {
      color: #36b3aa;
      .caret {
        border-top-color: #36b3aa;
      }
    }
  }
  .today {
    text-align: center;
    font-weight: 100;
    font-size: 22px;
  }
}

/*footer*/
footer.container.fixed {
  display: block;
  padding-bottom: 40px;
}