@import "reset.scss";
@import "buttons.scss";
@import "icons.scss";
@import "dropdown.scss";
@import "widgets.scss";
@import "sidebar.scss";
@import "media.scss";
@import "carousel.scss";

/*var*/
@mixin blue-gradient() {
   background: rgba(65,168,228,0.5); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQxYThlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MWE4ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(65,168,228,0.5) 0%, rgba(65,168,228,0.5) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(65,168,228,0.5)), color-stop(100%,rgba(65,168,228,0.5))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(65,168,228,0.5) 0%,rgba(65,168,228,0.5) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(65,168,228,0.5) 0%,rgba(65,168,228,0.5) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(65,168,228,0.5) 0%,rgba(65,168,228,0.5) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(65,168,228,0.5) 0%,rgba(65,168,228,0.5) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41a8e4', endColorstr='#41a8e4',GradientType=0 ); /* IE6-8 */
}



.page .container {
  max-width: 890px;
  margin: 0 auto 71px;
  padding: 0;
}

.page.full .container {
  max-width: 960px;
}

.page-title {
  line-height: 42px;
  font-size: 22px;
  color: #c7c7c7;
  background: #ededed;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main-desktop-controls {
  margin-bottom: 30px;
  & .edit-mode i {
    display: block;
    font-size: 16px;
  }
  .edit-nav {
    margin-bottom: 31px;
  }

  .add-widget {
    text-align: center;
    margin-bottom: 40px;
  }

  .edit-mode > a {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 3px;
    border-color: #989898;
  }
  .edit-mode {
    .dropdown-menu {
      left: -16px;
      top: 0;
    }
  }
}

.ajax-link {
  text-decoration: none;
  border-bottom: 1px dashed;
  &:hover {
    text-decoration: none;
  }
}

.else-link {
  text-decoration: none;
  border-bottom: 1px dotted;
  &:hover {
    text-decoration: none;
  }
}

.gridster {
  margin-bottom: 53px;
  li {
    border-radius: 5px;
    position: relative;
    &.widget {
      background-position: 10px 10px;
    }
    a {
      display: block;
      overflow: hidden;
      position: relative;
      height: 100%;
      border-radius: 5px;
    }
    &:hover {
      border-color: #000;
      box-shadow: 0 1px 3px #000;
        a {
          border-color: #000;
          box-shadow: inset 0 0 3px 3px #000;
        }
        .picture-in {
            position: relative;
            display: inline-block;
          img {
            vertical-align: top;
          }
        }
        .picture-in:after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          box-shadow: 0 0 3px 3px #000 inset;
          content: "";
        }
      }
    }
  img {
    height: auto;
    position: relative;
    left: 0;
    top: 0;
  }
}

.main-desktop-title h3 {
  text-align: center;
  color: #17a488;
  font-size: 33px;
  margin: 6px 0 25px;
}

.bottom-nav, .edit-mode {
  position: relative;
}

.nav {
  margin-bottom: 26px;
}

.gridster {
  .icon-cancel-circled {
    display: none;
    z-index: 100;
  }
  li:hover {
    .icon-resize-full-alt, .icon-resize-full, .icon-cancel-circled {
      display: block;
    }
  }
}

.top-pannel {
  margin-top: 20px;
  line-height: 35px;
  text-transform: uppercase;
  b {
    color: #000;
    margin-left: 10px;
  }
  .btn, .username {
    text-transform: none;
  }
  .username {
    font-size: 13px;
    line-height: 16px;
    display: inline-block;
    width: 210px;
    padding-right: 20px;
    text-align: right;
  }
  .power-btn,  {
    float: right;
    margin-top: 5px;
  }
  .username {
    margin-top: 3px;
    float: right;
    color: #999;
  }
  .dropdown-menu {
    text-transform: none;
  }
  .search {
    position: relative;
    margin: 0;
    min-width: 220px;
    input[type="text"] {
      font-size: 13px;
    }
    input[type="submit"] {
      position: absolute;
      right: 5px;
      top: 2px;
      background: none;
      border:none;
      width: 30px;
      height: 30px;
      z-index: 100;
    }
  }
  .full-drop {
    top:-10px;
    left: -24px;
  }
}

.top-pannel .btn-available,
.nav-pills .btn-available  {
  font-size: 12px;
  margin-right: 10px;
}

.nav-pills .btn {
  height: 36px;
}

.attachments {
  background-color: #F6F6F6;
  border-radius: 20px;
  margin-bottom: 20px;
  li {
    display: inline-block;
    span {
      display: block;
      padding: 30px 0 20px 20px;
    }
  }
  a.control {
    margin-top: 0;
  }
  .attachment a {
    color:#0e84cf;
    display: block;
    font-size: 13px;
    margin-top: 10px;
    &:hover {
      text-decoration: none;
    }
  }
  .control.attachment-add {
      display: block;
      height: 140px;
      width: 100px;
  }
  .attachment {
    width: 150px;
    position: relative;
    &:hover  {
      display: block;
      img {
        box-shadow: 0 0 3px #1fbd9e;
      }
    }
    img {
      box-shadow: 0 0 3px #e6e6e6;
    }
  }
  .attachment-delete {
    display: none;
    left: 107px;
    position: absolute;
    top: 17px;
  }
}

.attachments-controls a {
  margin-right: 16px;
}

.photo, .img-container {
  overflow: hidden;
}

.photo img, .img-container img { 
  width: 100%;
  height: auto;
}

.doc-info {
  > li {
    position: relative;
    margin-bottom: 14px;
    width: 100%;
    float: left;
    line-height: 21px;
  }
  >.title {
    font-size: 12px;
    width: 25%;
    position: absolute;
    line-height: 16px;
    top:2px;
    color: #666;
    text-align: left;
    &.valign-mid {
      top: 50%;
      margin-top: -8px;
    }
  }
  .value {
    width: 75%;
    float: right;
    > a {
      color:#0e84cf;
    }
    .h3 {
      font-size: 26px;
    }
  }
  .photo {
    width: 32px;
    height: 32px;
    float: left;
    border: 1px solid #e6e6e6;
    margin-right: 18px;
  }
  .dropdown-menu .photo {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 0;
  }
  .user {
    &:hover {
        text-decoration: none;
    }
    > .name {
      color: #56b4ee;
      text-decoration: none;
      border-bottom:1px dashed #0e84cf;
      line-height: 28px;
    }
  }
  .pic i, .doc i, .xls i, .pdf i {
    background: url("../img/format-sprite.png") no-repeat;
    opacity: 0.4;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
  }
  .pic i {
    background-position: 0 3px;
  }
  .doc i {
    background-position: 0 -30px;
  }
  .xls i {
    background-position: 0 -63px;
  }
  .pdf i {
    background-position: 0 -96px;
  }
} 

.doc-format {
  margin-top: 30px;
}

.doc-format-list {
  padding-left: 4px;
  li {
    padding-left: 46px;
    position: relative;
    line-height: 21px;
    margin-bottom: 13px;
    &:hover i {
      opacity: 1;
      filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    }
    a {
      color: #0E84CF;
    }
  }
}

.breadcrumb {
  background: none;
  padding: 0;
  a {
    color: #666666;
  }
}

.view-main-doc {
  position: relative;
  margin-left: 15px;
  width: 326px;
  &:hover {
    .zoom, .overlay {
      display:block;
      cursor: pointer;
    }
  }
  .icon-chat-empty {
    font-size: 20px;
    background: #56b4ef;
    padding: 10px;
    color: #fff;
    height: 48px;
    width: 48px;
    border-radius: 90px;
    position: absolute;
    right: -24px;
    top: 60px; 
    &:hover {
      text-decoration:none;
    }
  }
  .zoom {
    display: none;
    position: absolute;
    top: 50%;
    left:50%;
    width: 150px;
    height: 150px;
    margin: -75px  0 0 -65px;
    color: #fff;
    background: url("../img/lupa.png") no-repeat;
  }
  .overlay {
    @include blue-gradient;
    display: none;
    height: 100%;
    width: 100%;
    left: 2px;
    top: 2px;
    position: absolute;
  }
}

/*tables*/
.default-table {
  width: 100%;
  thead > tr > th {
    height: 48px;
    vertical-align: middle;
    &.status {
      text-align: center;
    }
    a {
      text-decoration: none;
    }
  }
  td {
      padding: 16px 0;
      vertical-align: middle;
      border-top: 1px solid #e0e0e0;
      color: #666666;
      &.type {
        color:#000;
        font-weight: bold;
        text-transform: uppercase;
      }
      &.collapse {
        width: 100%;
        display: block;
        &.in{
          display: block;
        }
        .controls {
          .btn {
            margin-right: 20px;
          }
        }
      }
    >a {
      color: #0e84cf;
      text-decoration: none;
    div {
      display: table-cell;
    }
    }
    &.status {
      text-align: center;
      .label {
        position: relative;
        min-width: 100px;
        display: inline-block;
        font-size: 12px;
        line-height: 20px;
        padding: 6px 10px;
        font-weight: normal;
        border-radius: 15px;
        cursor: pointer;
        &:before {
          color: #999999;
          font-size: 18px;
          left: -39px;
          position: absolute;
          top: 4px;
        }
        .count {
          border-radius: 90px;
        }
      }
    }
  }
  .sortable {
    display: inline-block;
    line-height: 34px;
    color: #999999;
    font-weight: normal;
    &.current {
      color: #36b3aa;
      .caret {
        border-top-color: #36b3aa;
      }
    }
  }
  .today {
    text-align: center;
    font-weight: 100;
    font-size: 22px;
  }
}

.collapse {
  display: block;
  background: #f7fffd;
  padding-top: 30px;
  &:after {
    display:table;
    clear: both;
    content: "";
  }
  .h3 {
    font-weight: normal;
  }
  .value {
    width: 79%;
  }
  .view-main-doc {
    margin-top: 32px;
    height: 264px;
    width: 190px;
  }
  .controls {
    .btn {
      margin-right: 20px;
    }
  }
}

.caret {
  border-color-top: inherit;
}

.label-success {
  background: #1BBC9B;
}
.label-warning {
  background: #dcf2ec;
  color:#009969;
}
.label-ready {
  background: #f2f2f2;
  color: #666666;
}

/*footer*/
footer.container.fixed {
  display: block;
  padding-bottom: 40px;
}